@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
  box-sizing: border-box;
}

.card-button {
  cursor: pointer;
  border-radius: 7px;
  position: relative;
  top: 0px;
}

.linear-pink-purple {
  background: linear-gradient(270deg, pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.person-add-outline {
  color: white;
  cursor: pointer;
  /* background: linear-gradient(
    90deg,
    rgba(88, 46, 255, 1) 40%,
    rgba(233, 0, 255, 1) 80%
  ); */

  background: linear-gradient(
    540deg,
    rgba(88, 46, 255, 1) 49%,
    rgba(233, 0, 255, 1) 95%
  );
  border-radius: 100%;
  padding: 1em;
}
.person-add-outline:hover {
  box-shadow: 0 1px 10px rgb(0, 0, 0, 50%);
}

.WhenWeHaveADeveloper {
  color: white;
  cursor: pointer;
  background: linear-gradient(
    540deg,
    rgba(88, 46, 255, 1) 49%,
    rgba(233, 0, 255, 1) 95%
  );
  border-radius: 100%;
  padding: 1em;
  width: 100px;
  height: 100px;
  box-shadow: 0 1px 10px rgb(0, 0, 0, 50%);
}

.plus-sign:hover {
  opacity: 0.5;
}

.add-a-developer-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 130px;
  width: auto;
  font-variant: petite-caps;
}

/* @media (min-width: 320px) {
  .create-section {
    width: 100%;
  }
}*/

@media (min-width: 400px) {
  .card-main {
    position: relative;
    top: 500px;
  }
}

/* 
@media (min-width: 630px) {
  .card-main {
    position: relative;
    top: 300px;
  }
}

@media (min-width: 768px) {
  .create-section {
    width: 15%;
  }
}
*/

@media (min-width: 1024px) {
  .create-section {
    width: 40% !important;
  }
}

@media (min-width: 1440px) {
  .edit-section,
  .create-section {
    width: 30% !important;
  }
}
